.hero-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 300px;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 60px;
  height: 60px;
  border: none;
  background: rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 35px;
  cursor: pointer;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.hero-slider:hover .slider-btn {
  opacity: 1;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}